{% extends 'base.html' %}

{% block content %}
  <h1>{{ person.username }}의 프로필 페이지</h1>
  {% with followings=person.followings.all followers=person.followers.all %}
    <div>
      <div>
        팔로워: <span id="followers-count">{{ person.followers.all|length }}</span>
        / 팔로잉: <span id="followings-count">{{ person.followings.all|length }}</span>
      </div>
      {% if user != person %}
        <div>
          <form id="follow-form" data-user-id="{{ person.pk }}">
            {% if request.user in person.followers.all %}
              <button type="submit" class="btn btn-secondary">언팔로우</button>
            {% else %}
              <button type="submit" class="btn btn-primary">팔로우</button>
            {% endif %}
          </form>
        </div>
      {% endif %}
    </div>
  {% endwith %}
{% endblock content %}

{% block script %}
  const form = document.querySelector('#follow-form')

  form.addEventListener('submit', function(event){
    event.preventDefault()

    const userId = event.target.dataset.userId
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    axios({
      method: 'post',
      url: `/accounts/${userId}/follow/`,
      headers: {'X-CSRFToken': csrftoken},
    })
    .then((response) => {
      const isFollowed = response.data.is_followed
      const followBtn = document.querySelector('#follow-form > button')
      const followersCountTag = document.querySelector('#followers-count')
      const followingsCountTag = document.querySelector('#followings-count')

      followBtn.classList.toggle('btn-secondary')
      followBtn.classList.toggle('btn-primary')

      const followersCount = response.data.followers_count
      const followingsCount = response.data.followings_count

      followersCountTag.innerText = followersCount
      followingsCountTag.innerText = followingsCount

      if (isFollowed === true){
        followBtn.innerText = '언팔로우'
      } else {
        followBtn.innerText = '팔로우'
      }
    })
    .catch()
  })
{% endblock script %}