{% extends 'base.html' %}

{% block content %}
  <h1>Community</h1>
  <hr>
  {% for review in reviews %}
    <p>작성자 : <a href="{% url 'accounts:profile' review.user.username %}">{{ review.user }}</a></p>
    <p>글 번호: {{ review.pk }}</p>
    <p>글 제목: {{ review.title }}</p>
    <p>글 내용: {{ review.content }}</p>
    <form class="like-forms" data-review-id="{{ review.pk }}">
      {% if request.user in review.like_users.all %}
        <input type="submit" value="좋아요 취소" id="like-{{ review.pk }}">
      {% else %}
        <input type="submit" value="좋아요" id="like-{{ review.pk }}">
      {% endif %}
    </form>
    <p>
      <span id="likes_count"></span> 명이 이 글을 좋아합니다.
    </p>
    <a href="{% url 'community:detail' review.pk %}">[detail]</a>
    <hr>
  {% endfor %}
{% endblock content %}

{% block script %}
  const forms = document.querySelectorAll('.like-forms')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  forms.forEach((form) => {
    form.addEventListener('submit', function (event) {
      event.preventDefault()

      const reviewId = event.target.dataset.reviewId

      axios({
        method: 'POST',
        url: `http://127.0.0.1:8000/community/${reviewId}/like/`,
        headers: {'X-CSRFToken': csrftoken},
      })
      .then((response) => {
        const isLiked = response.data.is_liked
        const likeBtn = document.querySelector(`#like-${reviewId}`)

        const likesCountTag = document.querySelector('#likes_count')
        const likesCount = response.data.likes_count
        likesCountTag.innerText = likesCount
        if (isLiked === true){
          likeBtn.value = '좋아요 취소'
        } else {
          likeBtn.value = '좋아요'
        }
      })
    })
  })
{% endblock script %}